# Zgony według tygodni, GUS
## W podziale na województwa, powiaty i 5-letnie grupy wiekowe

Potrzebne funkcje w plikach:
* helper_functions.py
* govpl_function.py

Uwaga: 
...

## TODO
* ...

In [1]:
"""
Set PYTHONPATH for modules in parallel directory

https://stackoverflow.com/questions/3108285/in-python-script-how-do-i-set-pythonpath/3108301

"""

import sys

try:
    sys.path.index('..') # Or os.getcwd() for this directory
except ValueError:
    sys.path.append('..') # Or os.getcwd() for this directory

#--------------------------------------------------------------

from share.helper_functions import (
    getfile, 
    unzip, 
    xlsx2xls, 
    display_all
)
from typing import NamedTuple
from share.gus_functions import (
    GUSparams,
    Analysis
    )
# import govpl_functions as govpl
import pandas as pd
import importlib
import glob
import os

In [2]:
data_dir = './gus_data'
img_dir = './images'
url =\
'https://stat.gov.pl/download/gfx/portalinformacyjny/pl/defaultaktualnosci/5468/39/2/1/zgony_wg_tygodni.zip'
zipfile = 'zgony_wg_tygodni.zip'
zipfile_path = os.sep.join([data_dir,zipfile])
zip_dir = os.sep.join([data_dir,'zgony_wg_tygodni'])
file_prefix = 'Zgony wedêug tygodni w Polsce_'
file_prefix_terminal = 'Zgony\ wedêug\ tygodni\ w\ Polsce_'
file_suffix = '.xlsx'
libreoffice_cmd = 'libreoffice7.2'

year_start = 2000
year_end = 2021

mygus = Analysis()

mygus.params = GUSparams(
    data_dir,
    img_dir,
    url,
    zipfile,
    zipfile_path,
    zip_dir,
    file_prefix,
    file_prefix_terminal,
    file_suffix,
    libreoffice_cmd,
    year_start,
    year_end
)

mygus.getdata()

Getting GUS data...
./gus_data/zgony_wg_tygodni.zip exists, so not downloaded
*.xlsx or *.xls files exist in ./gus_data/zgony_wg_tygodni, so zip file not extracted
Converting *.xlsx to *.xls
2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021
Making dictionary of year GUS data frames for each year: year_data_dict {int : pandas.DataFrame}
2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021
Merging GUS data frames from dict in a single data frame: all_years_df
Done.

In [3]:
# %load_ext autoreload
# %autoreload

# from share.helper_functions import (
#     getfile, 
#     unzip, 
#     xlsx2xls, 
#     display_all
# )

In [4]:
mygus.all_years_df

,Wiek zmarłych w latach,NUTS,Podregiony,T01,T02,T03,T04,T05,T06,T07,...,T45,T46,T47,T48,T49,T50,T51,T52,Rok,T53
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,NaN
1,Ogółem,PL,Polska,7913,8292,8970,9380,9474,8591,7841,...,6825,6873,7182,7173,7006,7296,7402,8000,2000,NaN
2,Ogółem,PL2,Makroregion Południowy,1629,1695,1805,1792,1754,1597,1520,...,1463,1380,1417,1444,1427,1533,1535,1603,2000,NaN
3,Ogółem,PL21,Małopolskie,616,636,676,675,665,649,548,...,584,513,555,546,531,601,593,617,2000,NaN
4,Ogółem,PL213,Miasto Kraków,139,162,156,167,162,154,135,...,148,103,134,126,137,131,140,149,2000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43135,90 i więcej,PL922,Ciechanowski,15,17,11,14,16,14,17,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43136,90 i więcej,PL923,Płocki,18,11,9,17,14,11,14,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43137,90 i więcej,PL924,Ostrołęcki,21,25,27,19,15,17,16,...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43138,90 i więcej,PL925,Siedlecki,11,17,18,18,19,17,21,...,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43139,90 i więcej,PL926,Żyrardowski,12,11,9,9,16,6,12,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN