# Zgony według tygodni, GUS
## W podziale na województwa, powiaty i 5-letnie grupy wiekowe

Potrzebne funkcje w plikach:
* helper_functions.py
* govpl_function.py

Uwaga:
...

## TODO
* ...

In [1]:
"""

https://stackoverflow.com/questions/3108285/in-python-script-how-do-i-set-pythonpath/3108301


"""

import sys
import os # if you want this directory

try:
    sys.path.index('..') # Or os.getcwd() for this directory
except ValueError:
    sys.path.append('..') # Or os.getcwd() for this directory

In [2]:
from share.helper_functions import (
    getfile, 
    unzip, 
    xlsx2xls, 
    display_all
)
# import govpl_functions as govpl
import pandas as pd
import importlib
import glob
import os
from typing import NamedTuple

In [5]:
class GUSparams(NamedTuple):
    data_dir : str
    img_dir : str
    url : str
    zipfile : str
    zipfile_path : str
    zip_dir : str
    file_prefix : str
    file_prefix_terminal : str 
    file_suffix : str
    libreoffice_cmd : str



data_dir = './gus_data'
img_dir = './images'
url =\
'https://stat.gov.pl/download/gfx/portalinformacyjny/pl/defaultaktualnosci/5468/39/2/1/zgony_wg_tygodni.zip'
zipfile = 'zgony_wg_tygodni.zip'
zipfile_path = os.sep.join([data_dir,zipfile])
zip_dir = os.sep.join([data_dir,'zgony_wg_tygodni'])
file_prefix = 'Zgony wedêug tygodni w Polsce_'
file_prefix_terminal = 'Zgony\ wedêug\ tygodni\ w\ Polsce_'
file_suffix = '.xlsx'
libreoffice_cmd = 'libreoffice7.2'


params = GUSparams(
    data_dir,
    img_dir,
    url,
    zipfile,
    zipfile_path,
    zip_dir,
    file_prefix,
    file_prefix_terminal,
    file_suffix,
    libreoffice_cmd
)

In [6]:
if not os.path.isfile(params.zipfile_path):
    print('Downloading file: ' + params.url)
    getfile(params.url,params.zipfile_path)
else:
    print(params.zipfile_path + ' exists, so not downloaded')
    
    
    
if not glob.glob(os.sep.join([params.zip_dir, '*.xlsx'])) and not glob.glob(os.sep.join([params.zip_dir, '*.xls'])):
    print('Unzipping file: ' + params.zipfile)
    unzip(params.data_dir,params.zipfile)
else:
    print('*.xlsx or *.xls files exist in ' + params.zip_dir + ', so zip file not extracted')
    

    
if not glob.glob(os.sep.join([params.zip_dir, '*.xls'])):
    print('Converting *.xlsx to *.xls')
    for year in range(2000,2022):
        file = params.file_prefix_terminal + str(year) + params.file_suffix
        xlsx2xls(params.zip_dir,file, params.libreoffice_cmd, inplace = True)
else:
    print('*.xls files exist in ' + zip_dir + ', so *.xlsx files not converted to *.xls')

./gus_data/zgony_wg_tygodni.zip exists, so not downloaded
*.xlsx or *.xls files exist in ./gus_data/zgony_wg_tygodni, so zip file not extracted
*.xls files exist in ./gus_data/zgony_wg_tygodni, so *.xlsx files not converted to *.xls

In [5]:
%load_ext autoreload
%autoreload

from share.helper_functions import (
    getfile, 
    unzip, 
    xlsx2xls, 
    display_all
)

In [7]:
def read_xls_year(year,params):
    excel_file_path = os.sep.join([params.zip_dir, params.file_prefix + str(year) + '.xls'])
    df = pd.read_excel(excel_file_path, 'OGÓŁEM')
    return df

def format_df(df, year):
    df['Rok']=year
    df.drop(index=range(0,5),axis=1, inplace=True)
    df.drop(index=6, axis=1, inplace=True)
    df.iloc[0,0]='Wiek zmarłych w latach'
    df.iloc[0,1]='NUTS'
    df.iloc[0,2]='Podregiony'
    df.columns = df.iloc[0]
    df = df[1:]
    df.reset_index(inplace = True, drop = True)
    df.rename_axis('', axis='columns', inplace=True)
    return df

In [8]:
year = 2021
df = read_xls_year(year, params)
df = format_df(df,year)

In [9]:
# display_all(df)
display(df)

,Wiek zmarłych w latach,NUTS,Podregiony,T01,T02,T03,T04,T05,T06,T07,...,T44,T45,T46,T47,T48,T49,T50,T51,T52,2021
0,Ogółem,PL,Polska,11470,10970,11016,10388,9880,9925,10116,...,9309,9739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1,Ogółem,PL2,Makroregion Południowy,2135,2029,2033,1909,1834,1858,2007,...,1780,1920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
2,Ogółem,PL21,Małopolskie,771,744,765,735,712,696,730,...,724,779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3,Ogółem,PL213,Miasto Kraków,188,200,169,169,161,177,163,...,159,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
4,Ogółem,PL214,Krakowski,137,140,147,152,138,142,149,...,146,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,90 i więcej,PL922,Ciechanowski,15,17,11,14,16,14,17,...,10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1956,90 i więcej,PL923,Płocki,18,11,9,17,14,11,14,...,8,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1957,90 i więcej,PL924,Ostrołęcki,21,25,27,19,15,17,16,...,10,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1958,90 i więcej,PL925,Siedlecki,11,17,18,18,19,17,21,...,27,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1959,90 i więcej,PL926,Żyrardowski,12,11,9,9,16,6,12,...,13,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021