# Zgony według tygodni, GUS
## W podziale na województwa, powiaty i 5-letnie grupy wiekowe

Potrzebne funkcje w plikach:
* helper_functions.py
* govpl_function.py

Uwaga: 
...

## TODO
* ...

In [1]:
"""
Set PYTHONPATH for modules in parallel directory

https://stackoverflow.com/questions/3108285/in-python-script-how-do-i-set-pythonpath/3108301

"""

import sys

try:
    sys.path.index('..') # Or os.getcwd() for this directory
except ValueError:
    sys.path.append('..') # Or os.getcwd() for this directory

#--------------------------------------------------------------

from share.helper_functions import (
    getfile, 
    unzip, 
    xlsx2xls, 
    display_all
)
from typing import NamedTuple
from share.gus_functions import (
    GUSparams,
    Analysis
    )
# import govpl_functions as govpl
import pandas as pd
import importlib
import glob
import os

In [2]:
data_dir = './gus_data'
img_dir = './images'
url =\
'https://stat.gov.pl/download/gfx/portalinformacyjny/pl/defaultaktualnosci/5468/39/2/1/zgony_wg_tygodni.zip'
zipfile = 'zgony_wg_tygodni.zip'
zipfile_path = os.sep.join([data_dir,zipfile])
zip_dir = os.sep.join([data_dir,'zgony_wg_tygodni'])
file_prefix = 'Zgony wedêug tygodni w Polsce_'
file_prefix_terminal = 'Zgony\ wedêug\ tygodni\ w\ Polsce_'
file_suffix = '.xlsx'
libreoffice_cmd = 'libreoffice7.2'

year_start = 2000
year_end = 2021

mygus = Analysis()

mygus.params = GUSparams(
    data_dir,
    img_dir,
    url,
    zipfile,
    zipfile_path,
    zip_dir,
    file_prefix,
    file_prefix_terminal,
    file_suffix,
    libreoffice_cmd,
    year_start,
    year_end
)

In [3]:
mygus.download_unzip_convert_to_xls()

./gus_data/zgony_wg_tygodni.zip exists, so not downloaded
*.xlsx or *.xls files exist in ./gus_data/zgony_wg_tygodni, so zip file not extracted
*.xls files exist in ./gus_data/zgony_wg_tygodni, so *.xlsx files not converted to *.xls

In [4]:
# # %load_ext autoreload
# %autoreload

# from share.helper_functions import (
#     getfile, 
#     unzip, 
#     xlsx2xls, 
#     display_all
# )

In [5]:


dfdict={}
for year in range(year_start,year_end+1):
    df = mygus.read_xls_year(year)
    df = mygus.format_df(df,year)
    dfdict[year]=df
pd.concat(list(dfdict.values()), ignore_index=True)

,Wiek zmarłych w latach,NUTS,Podregiony,T01,T02,T03,T04,T05,T06,T07,...,T45,T46,T47,T48,T49,T50,T51,T52,Rok,T53
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,NaN
1,Ogółem,PL,Polska,7913,8292,8970,9380,9474,8591,7841,...,6825,6873,7182,7173,7006,7296,7402,8000,2000,NaN
2,Ogółem,PL2,Makroregion Południowy,1629,1695,1805,1792,1754,1597,1520,...,1463,1380,1417,1444,1427,1533,1535,1603,2000,NaN
3,Ogółem,PL21,Małopolskie,616,636,676,675,665,649,548,...,584,513,555,546,531,601,593,617,2000,NaN
4,Ogółem,PL213,Miasto Kraków,139,162,156,167,162,154,135,...,148,103,134,126,137,131,140,149,2000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43135,90 i więcej,PL922,Ciechanowski,15,17,11,14,16,14,17,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43136,90 i więcej,PL923,Płocki,18,11,9,17,14,11,14,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43137,90 i więcej,PL924,Ostrołęcki,21,25,27,19,15,17,16,...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43138,90 i więcej,PL925,Siedlecki,11,17,18,18,19,17,21,...,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN
43139,90 i więcej,PL926,Żyrardowski,12,11,9,9,16,6,12,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN

In [7]:
dfdict[2020]

,Wiek zmarłych w latach,NUTS,Podregiony,T01,T02,T03,T04,T05,T06,T07,...,T45,T46,T47,T48,T49,T50,T51,T52,T53,Rok
0,Ogółem,PL,Polska,8463,8242,8059,8015,8560,8343,8624,...,16244,15633,14828,13627,12982,12018,11679,12128,11775,2020
1,Ogółem,PL2,Makroregion Południowy,1689,1661,1688,1712,1824,1744,1807,...,3577,3334,2969,2586,2410,2219,2186,2199,2120,2020
2,Ogółem,PL21,Małopolskie,658,670,641,662,723,724,678,...,1539,1421,1194,1024,883,827,761,807,738,2020
3,Ogółem,PL213,Miasto Kraków,152,169,160,172,159,164,150,...,338,289,268,246,214,201,200,199,174,2020
4,Ogółem,PL214,Krakowski,140,149,124,125,144,145,149,...,290,284,244,204,185,175,139,177,175,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,90 i więcej,PL922,Ciechanowski,15,10,9,16,20,19,11,...,25,22,16,20,15,13,10,6,9,2020
1956,90 i więcej,PL923,Płocki,9,16,17,14,13,12,23,...,18,21,20,20,17,8,15,19,10,2020
1957,90 i więcej,PL924,Ostrołęcki,17,9,25,13,18,17,16,...,20,30,17,23,28,13,16,22,23,2020
1958,90 i więcej,PL925,Siedlecki,26,21,11,14,17,11,24,...,40,30,44,35,27,31,18,28,21,2020
1959,90 i więcej,PL926,Żyrardowski,16,8,11,11,9,8,6,...,19,10,10,15,14,12,11,17,15,2020

In [7]:
pd.concat(list(dfdict.values()), ignore_index=True)

,Wiek zmarłych w latach,NUTS,Podregiony,T01,T02,T03,T04,T05,T06,T07,...,T45,T46,T47,T48,T49,T50,T51,T52,T53,Rok
0,Ogółem,PL,Polska,8463,8242,8059,8015,8560,8343,8624,...,16244,15633,14828,13627,12982,12018,11679,12128,11775,2020
1,Ogółem,PL2,Makroregion Południowy,1689,1661,1688,1712,1824,1744,1807,...,3577,3334,2969,2586,2410,2219,2186,2199,2120,2020
2,Ogółem,PL21,Małopolskie,658,670,641,662,723,724,678,...,1539,1421,1194,1024,883,827,761,807,738,2020
3,Ogółem,PL213,Miasto Kraków,152,169,160,172,159,164,150,...,338,289,268,246,214,201,200,199,174,2020
4,Ogółem,PL214,Krakowski,140,149,124,125,144,145,149,...,290,284,244,204,185,175,139,177,175,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3915,90 i więcej,PL922,Ciechanowski,15,17,11,14,16,14,17,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3916,90 i więcej,PL923,Płocki,18,11,9,17,14,11,14,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3917,90 i więcej,PL924,Ostrołęcki,21,25,27,19,15,17,16,...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3918,90 i więcej,PL925,Siedlecki,11,17,18,18,19,17,21,...,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3919,90 i więcej,PL926,Żyrardowski,12,11,9,9,16,6,12,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021