In [6]:
"""
Set PYTHONPATH for modules in parallel directory

https://stackoverflow.com/questions/3108285/in-python-script-how-do-i-set-pythonpath/3108301

"""

import sys

try:
    sys.path.index('..') # Or os.getcwd() for this directory
except ValueError:
    sys.path.append('..') # Or os.getcwd() for this directory

#--------------------------------------------------------------

import os
from share.helper_functions import(
    download_if_not_modified_today
)
import pandas as pd

In [63]:
data_dir = './Rogalski_data'
data_file = 'wojewodztwa.csv'
path = os.sep.join([data_dir,data_file])
download_command='./get_voi.sh'

download_if_not_modified_today(path, download_command)
df = pd.read_csv(path)

./Rogalski_data/wojewodztwa.csv exists
./Rogalski_data/wojewodztwa.csv was modified today, not downloading

In [68]:
def format_Rogalski_voi_cases(df : pandas.DataFrame) -> pandas.DataFrame:
"""
    Format Rogalski data frame

    Args:
        df (pandas.DataFrame):

    Returns:
        pandas.DataFrame

    """
    
    dfc = df[9:26].copy(deep=True)
    dfc.iloc[0,1:304] = dfc.iloc[0,1:304] + '.2020'
    dfc.iloc[0,304:] = dfc.iloc[0,304:] + '.2021'
    pd.to_datetime(dfc.iloc[0,1:], format='%d.%m.%Y')
    dfc.set_index(dfc.columns[0], inplace=True)
    dfc, dfc.columns = dfc[1:] , dfc.iloc[0]
    dfc.index.name = None
    return dfc

dfc = format_Rogalski_voi_cases(df)
dfc

Województwo,04.03.2020,05.03.2020,06.03.2020,07.03.2020,08.03.2020,09.03.2020,10.03.2020,11.03.2020,12.03.2020,13.03.2020,...,27.11.2021,28.11.2021,29.11.2021,30.11.2021,01.12.2021,02.12.2021,03.12.2021,04.12.2021,05.12.2021,06.12.2021
Dolnośląskie,0,0,1,0,1,1,1,0,3,1,...,1870,2047,1074,1458,2159,2345,2396,2070,2248,1408
Kujawsko-Pomorskie,0,0,0,0,0,0,0,0,0,0,...,1363,947,762,1138,1361,1726,1318,1490,1128,526
Lubelskie,0,0,0,0,0,0,1,1,4,1,...,1209,763,383,1111,1264,925,1022,1033,505,285
Lubuskie,1,0,0,0,0,0,0,0,0,0,...,768,663,395,398,656,747,874,660,641,536
Łódzkie,0,0,0,0,0,0,0,1,1,3,...,1600,1207,691,1101,1682,1666,1461,1417,1240,722
Małopolskie,0,0,0,0,0,1,0,0,0,0,...,2143,1736,1136,1526,2570,2327,2236,2255,1910,1290
Mazowieckie,0,0,0,0,2,0,1,1,2,5,...,4730,3294,2749,3185,4806,4048,3731,4270,3469,2116
Opolskie,0,0,0,0,0,0,0,1,1,0,...,727,778,517,399,694,962,947,833,873,502
Podkarpackie,0,0,0,0,0,0,0,1,2,3,...,1022,856,418,833,1080,1060,1050,907,742,365
Podlaskie,0,0,0,0,0,0,0,0,0,0,...,639,404,193,476,672,567,563,469,308,148
Pomorskie,0,0,0,0,0,0,0,0,0,0,...,1397,1250,869,1077,1699,1660,1553,1407,1462,990
Śląskie,0,0,0,0,2,3,2,1,3,1,...,3159,2775,1458,1885,4147,3627,3849,3361,3450,1638
Świętokrzyskie,0,0,0,0,0,0,0,0,0,0,...,646,367,182,604,632,638,601,639,424,300
Warmińsko-Mazurskie,0,0,1,1,0,0,0,2,0,0,...,977,548,328,908,1095,926,1017,899,712,327
Wielkopolskie,0,0,0,0,0,1,0,1,3,1,...,2302,1909,972,1707,2880,2539,2781,2308,2280,1029
Zachodniopomorskie,0,0,2,0,0,0,0,0,1,2,...,1416,905,851,1077,1491,1403,1386,1393,838,962

In [14]:
dfd = df[52:69].copy(deep=True)
dfd

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 634,Unnamed: 635,Unnamed: 636,Unnamed: 637,Unnamed: 638,Unnamed: 639,Unnamed: 640,Unnamed: 641,Unnamed: 642,Unnamed: 643
52,Województwo,04.03,05.03,06.03,07.03,08.03,09.03,10.03,11.03,12.03,...,27.11,28.11,29.11,30.11,01.12,02.12,03.12,04.12,05.12,06.12
53,Dolnośląskie,0,0,0,0,0,0,0,0,0,...,15,0,0,41,32,11,30,18,1,0
54,Kujawsko-Pomorskie,0,0,0,0,0,0,0,0,0,...,29,1,3,34,15,20,22,36,5,6
55,Lubelskie,0,0,0,0,0,0,0,0,0,...,38,0,0,67,66,59,38,42,0,0
56,Lubuskie,0,0,0,0,0,0,0,0,0,...,13,0,2,11,12,14,9,14,2,2
57,Łódzkie,0,0,0,0,0,0,0,0,0,...,33,0,0,31,46,39,25,23,0,0
58,Małopolskie,0,0,0,0,0,0,0,0,0,...,30,3,0,41,49,50,40,51,0,7
59,Mazowieckie,0,0,0,0,0,0,0,0,0,...,67,27,5,49,76,69,52,58,29,1
60,Opolskie,0,0,0,0,0,0,0,0,0,...,8,1,0,16,29,16,20,22,0,0
61,Podkarpackie,0,0,0,0,0,0,0,0,0,...,37,0,4,21,38,20,43,56,2,0
62,Podlaskie,0,0,0,0,0,0,0,0,0,...,17,4,0,47,27,33,22,24,0,0
63,Pomorskie,0,0,0,0,0,0,0,0,0,...,7,0,3,21,10,41,22,32,0,1
64,Śląskie,0,0,0,0,0,0,0,0,0,...,31,0,0,49,52,53,52,45,3,4
65,Świętokrzyskie,0,0,0,0,0,0,0,0,0,...,13,2,0,21,27,19,16,10,0,0
66,Warmińsko-Mazurskie,0,0,0,0,0,0,0,0,0,...,11,0,0,34,31,11,18,18,1,2
67,Wielkopolskie,0,0,0,0,0,0,0,0,1,...,14,1,0,32,38,33,35,28,0,0
68,Zachodniopomorskie,0,0,0,0,0,0,0,0,0,...,15,12,1,11,22,14,26,25,2,2